:root {
    --verde-principal: #3E5F47;
    --verde-secundario: #6caa6e;
    --verde-hover: #6AAE70;
    --verde-medio: #588A5B;

    --fundo-claro: #C8E6C9;
    --fundo-suave: #DFECE0;

    --texto-escuro: #1A2F22;
    --texto-claro: #F4F4F4;

    --sombra: rgba(0,0,0,0.2);
}

body {
    margin: 0;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--verde-principal);
    background-image: url(/static/img/fundomaestro.png);
    background-size: cover;
    background-position: center;
    color: var(--texto-claro);
}

a {
    display: inline-block;
    padding: 7px 14px;
    color: var(--texto-escuro);
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
}

#divturma > a {
    text-decoration: underline;
}

a:hover {
    background: var(--fundo-claro);
}

#container {
    display: flex;
    align-items: center;
    gap: 50px;
}

#container-index {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 50px;

    height: 100vh;
    margin: auto;
}

#container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    height: 100vh;
    margin: auto;
}

#topo-container {
    max-width: 1100px;
    margin: 20px auto; 
    padding: 20px;
    background-color: var(--verde-secundario);
    border-radius: 12px;
}

form {
    background-color: var(--fundo-claro);
    color: var(--texto-escuro);
    padding: 25px;
    border-radius: 12px;
    width: 280px;
    box-shadow: 0 0 12px var(--sombra);
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
}

input {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 6px;
    margin-bottom: 14px;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 12px;
    background-color: var(--verde-secundario);
    color: var(--texto-escuro);
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: var(--verde-hover);
}

#divturmas {
    background-color: var(--verde-medio);
    color: var(--texto-escuro);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 14px;
    width: 280px;
    box-shadow: 0 0 12px var(--sombra);
}

#divtopo {
    background-color: var(--verde-secundario);
    color: var(--texto-escuro);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 14px;
    box-shadow: 0 0 12px var(--sombra);
}
 
#logo > img {
    width: 150px;
    margin-left: 25px;
}

#logo > h1 {
    margin-left: 11px;
    font-family: 'Times New Roman', Times, serif;
}

#logo {
    background-color: var(--fundo-suave);
    color: var(--verde-principal);
    width: max-content;
    padding: 25px;
    border-radius: 50px;
    margin-bottom: 14px;
    box-shadow: 0 0 12px var(--sombra);
}

#mapa {
    width: 60%;
    height: 500px;
    flex: 2;
    background-color: rgba(118, 147, 88, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(3px);
}

#lista-escolas {
    flex: 1;
    color: var(--texto-escuro);
    background-color: var(--fundo-claro);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.boxs-escolas {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 15px;
}

#nav {
    background-color: var(--verde-secundario);
    color: var(--texto-escuro);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 14px;
    box-shadow: 0 0 12px var(--sombra);
}

#subbox {
    background-color: var(--fundo-claro);
    color: var(--texto-escuro);
    width: 1200px;
    padding: 25px;
    border-radius: 12px;
    display: flex;
    box-shadow: 0 0 12px var(--sombra);
}