<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Maestro - Conexões musicais</title>
</head>

<body>
    <div id="container-index">
        <div id="logo">
            <img src="/static/img/Lira com Videira Minimalista(COPIA).png" alt="logo">
            <h1>MAESTRO</h1>
        </div>
        <div class="topo-container">

            <h1 id="divtopo">Acesse Seu Ambiente Virtual! 🎼</h1>

            <nav id="nav">
                <a href="/login">Login</a> |
                <a href="/cadastrar">Cadastrar</a>
            </nav>

        </div>

        <div id="subbox" style="gap: 20px; flex-wrap: wrap; justify-content: center;">

            <div class="boxs-escolas" style="width: 250px;">
                <h5>📍 Encontre escolas</h5>
                <p>Veja escolas próximas de você.</p>
            </div>

            <div class="boxs-escolas" style="width: 250px;">
                <h5>🎶 Aprenda música</h5>
                <p>Cursos de instrumentos e teoria musical.</p>
            </div>

            <div class="boxs-escolas" style="width: 250px;">
                <h5>👨‍🏫 Professores</h5>
                <p>Conecte-se com profissionais qualificados.</p>
            </div>

            <div class="boxs-escolas" style="width: 250px;">
                <h5>🚀 Evolução</h5>
                <p>Participe de turmas e evolua.</p>
            </div>

        </div>
</body>

</html>