<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Maestro - Conexões musicais</title>
</head>

<body>
    <div id="container1">

        <div id="divtopo">

            <h1>{{ escola[0] }}</h1>

            <nav>
                <a href="#" onclick="toggleSobre()">Sobre a Escola</a> |
                <a href="/logout">Sair</a>
            </nav>

        </div>

        <div id="subbox" style="flex-direction: column;">

            <div>
                <h2>Painel do Professor 👨‍🏫</h2>
            </div>

            <div id="sobre" style="display: none; padding-left: 10px;">

                <h3>Sobre a Escola</h3>

                <p><strong>Endereço:</strong> {{ escola[2] }}</p>
                <p><strong>Telefone:</strong> {{ escola[3] }}</p>

            </div>

            <hr>

            <h3>Suas Turmas</h3>

            {% for id_turma, nome, descricao in turmas %}

            <div id="divturmas">

                <h4><strong>{{ nome }}</strong></h4>

                <p>{{ descricao }}</p>

                <a href="/turma/{{ id_turma }}/pessoas">Ver alunos</a>

                <button onclick="toggleMateriais({{ id_turma }})">
                    Materiais
                </button>

                <div id="materiais-{{ id_turma }}" style="display:none; margin-top:10px;">

                    {% if id_turma in materiais_por_turma %}

                    {% for m in materiais_por_turma[id_turma] %}
                    <div>
                        <strong>{{ m[0] }}</strong><br>
                        <span>{{ m[1] }}</span><br>
                        <small>{{ m[2] }}</small>
                    </div>
                    <hr>
                    {% endfor %}

                    {% else %}
                    <p><i>Nenhum material ainda.</i></p>
                    {% endif %}

                </div>

            </div>

            {% endfor %}

        </div>

    </div>
</body>
<script>
    function toggleSobre() {
        var sobre = document.getElementById("sobre");

        sobre.style.display = (sobre.style.display === "none") ? "block" : "none";
    }

    function toggleMateriais(id) {
        var div = document.getElementById("materiais-" + id);

        div.style.display = (div.style.display === "none") ? "block" : "none";
    }
</script>

</html>